<%- include('../partials/header') %>

    <h1>Iris' Developer Skills</h1>
    <ul>
      <% skills.forEach(function(devSkills) { %>
        <li>
          <a href="/dev-skills/<%= devSkills.id %>"><%= devSkills.skill %></a>
            - 
          <%= devSkills.possess ? 'Mastered' : 'Lacking' %>
        </li>
      <% }); %>
    </ul>

<%- include('../partials/footer') %>